.location {
  text-align: center;
  font-size: 3.1em;
  font-weight: bold;
  margin-top: 10px;
}

.location-dark {
  color: #1cf314;
}

.location-light {
  color: #1cf314;
}

.p {
  text-align: center;
  font-size: 0.8em;
  font-weight: bold;
  margin-top: 10px;
}

.p-dark {
  color: #ffffff;
}

.p-light {
  color: #4a4a4a;
}
